<h1>{{title}}</h1>
<h3>&nbsp;<a href="https://github.com/atelechev/angular-webgl-template" target="_blank" rel="noopener">Visit angular-webgl-template</a> &nbsp; &nbsp;<a href="https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API/Tutorial" target="_blank" rel="noopener">Visit WebGL tutorial - mdn</a></h3>
<div class="main-wrapper">
  <div  class="menu-wrapper">
    <nav>
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page" >Back to Main</a>
    </nav>
    <nav>
      <ul>
        <li><a routerLink="/sample1" routerLinkActive="active" ariaCurrentWhenActive="page">Sample1</a></li>
        <li><a routerLink="/sample2" routerLinkActive="active" ariaCurrentWhenActive="page">Sample2</a></li>
        <li><a routerLink="/sample3" routerLinkActive="active" ariaCurrentWhenActive="page">Sample3</a></li>
        <li><a routerLink="/sample4" routerLinkActive="active" ariaCurrentWhenActive="page">Sample4</a></li>
        <li><a routerLink="/sample5" routerLinkActive="active" ariaCurrentWhenActive="page">Sample5</a></li>
        <li><a routerLink="/sample6" routerLinkActive="active" ariaCurrentWhenActive="page">Sample6</a></li>
        <li><a routerLink="/sample7" routerLinkActive="active" ariaCurrentWhenActive="page">Sample7</a></li>
        <li><a routerLink="/sample8" routerLinkActive="active" ariaCurrentWhenActive="page">Sample8</a></li>
      </ul>
    </nav>
  </div>
  <div class="router-wrapper">
    <router-outlet ></router-outlet>
  </div>
</div>
